.chairmans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;

  @media (max-width: 840px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 18px;
  }
}
.min-height {
  min-height: 450px;

  @media (max-width: 840px) {
    height: auto;
  }
}
.chairman {
  text-align: center;
  &__avatar {
    border-radius: 50%;
    height: 186px;
    width: 186px;
    object-fit: cover;

    @media (max-width: 840px) {
      height: 164px;
      width: 164px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 155.7%;
    color: #000000;
    margin: 26px 0 15px;
    @media (max-width: 840px) {
      font-size: 14px;
      line-height: 155.7%;
      margin: 16px 0 5px;
    }
  }

  &__date {
    font-weight: 300;
    font-size: 20px;
    line-height: 155.7%;
    color: #000000;

    @media (max-width: 840px) {
      font-size: 14px;
      line-height: 155.7%;
    }
  }
}
