@font-face {
  font-family: Cera Pro;
  font-weight: 900;
  font-style: italic;
  src: url('@/static/fonts/cera/Cera Pro Black Italic.otf') format('opentype');
}
@font-face {
  font-family: Cera Pro;
  font-weight: 900;
  font-style: normal;
  src: url('@/static/fonts/cera/Cera Pro Black.otf') format('opentype');
}
@font-face {
  font-family: Cera Pro;
  font-weight: 700;
  font-style: normal;
  src: url('@/static/fonts/cera/Cera Pro Bold.otf') format('opentype');
}
@font-face {
  font-family: Cera Pro;
  font-weight: 300;
  font-style: normal;
  src: url('@/static/fonts/cera/Cera Pro Light.otf') format('opentype');
}
@font-face {
  font-family: Cera Pro;
  font-weight: 500;
  font-style: normal;
  src: url('@/static/fonts/cera/Cera Pro Medium.otf') format('opentype');
}
@font-face {
  font-family: Cera Pro;
  font-weight: 400;
  font-style: italic;
  src: url('@/static/fonts/cera/Cera Pro Regular Italic.otf') format('opentype');
}
@font-face {
  font-family: Cera Pro;
  font-weight: 400;
  font-style: normal;
  src: url('@/static/fonts/cera/CeraRoundProDEMO-Regular.otf')
    format('opentype');
}
