* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cera Pro', sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1320px;
  }
}

.button {
  font-family: 'Cera Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  min-width: 185px;

  &.primary {
    background: $blue;
    border-radius: 4px;
    height: 34.83px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $blue;
  margin: 34px 0 36px;

  &--white {
    color: $white;
  }

  @media (max-width: 840px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}

.primary-color {
  color: $blue;
}

.gray-color {
  color: $brown;
}

.size-2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.size-3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.grid {
  display: grid;
  row-gap: 15px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.page-img {
  max-width: 100%;
  max-height: 408px;
}

.page-content {
  margin: 35px 0 76px;
}

.page-avatar {
  float: left;
  margin: 35px 29px 16px 0;
  width: 423px;
  height: 412px;
  object-fit: cover;
}

.reset-btn {
  border: none;
  background: inherit;
  cursor: pointer;
}
